
#part-2 {
    background: rgb(118, 228, 118);
    color: rgb(241, 18, 18);
}

h1 {
    color: palevioletred;
    font-family: 'Playfair Display', serif;
    background: lightblue;
}


.title-22 { 
    color:brown;
    font-family: Cambria; 
    background: yellow; 
}

body {
    font-family: 'DynaPuff', inherit;
}

h1 { 
    color: blue;
    font-family: Verdana, sans-serif;
    background: pink;
}
/*.title-22, h1 {
    color: grey;
}/
